<!doctype html>
<html ng-app="app" lang="en">
<head>
    <title>Submit Hours</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="">
    <script src="/bower_components/underscore/underscore-min.js"/></script>
    <script src="/bower_components/jquery/jquery.min.js"/></script>
    <script src="/bower_components/multiselect/js/jquery.multi-select.js"/></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script>
        /* user info */
        window.staff = <%- staff %>;
    </script>
    <script src="/javascripts/hours.js"></script>
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
    <link rel="stylesheet" type="text/css" href="/bower_components/multiselect/css/multi-select.css"  >
    <script src="//localhost:35729/livereload.js"></script>
    <style>
        body {
            padding: 0;
            margin: 0;
            background: gray;
        }
        h1 {
            padding-top: 10px;
            padding-bottom: 4px;
        }
        .left-column {
            width: 49%;
        }
        .right-column {
            width: 49%;
        }
        div[class*=column] {
            display: inline-block;
        }
        .ms-container ul.ms-list {
            height: 408px;
        }
        .courses {
            width: 76%;
            margin: 0 auto;
        }
        .container {
            background: white;
            margin: 20px auto;
            padding: 20px;
            box-shadow: 0px 1px 2px black;
            width: 960px;
        }
    </style>
</head>
<body>
<script type="text/ng-template" id="main.html">
<div class="container">

    <div class="grid">
        <div class="col-1-2"> 
            <h1>{{ staff.name }}</h1>
            <h2>{{ staff.email }}</h2>
            <h2>{{ staff.major.title }}</h2>
        </div> 
        <div class="col-1-2"> 
            <button style="float: right;" ng-click="submit()">Submit</button>
        </div> 
    </div>

    <div class="grid">
        <div class="col-1-2">
            <label>Maximum Hours:</label>
            <input ng-model="maxHours" type="text" placeholder="Maximum Hours">
        </div>
        <div class="col-1-2">
            <label>Phone Number:</label>
            <input ng-model="phoneNumber" type="text" placeholder="Phone Number">
        </div>
    </div>

    <div class="grid">
        <div class="col-1-2"><h1>Please Select Availability</h1></div>
        <div class="col-1-2"><h1>Select Courses</h1></div>
    </div>

    <div class="grid">

    <div class="col-1-2">
        <div class="grid">
            <div class="col-1-4">
                <span>Time</span>
                <ol>
                    <li class="right" ng-repeat="time in times">{{ time }} </li>
                </ol>
            </div>
            <div class="col-3-4">
                <div class="grid">
                    <div class="col-1-5" list="days.monday" check-list>M</div>
                    <div class="col-1-5" list="days.tuesday" check-list>Tu</div>
                    <div class="col-1-5" list="days.wednesday" check-list>W</div>
                    <div class="col-1-5" list="days.thursday" check-list>Th</div>
                    <div class="col-1-5" list="days.friday" check-list>F</div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-1-2">
        <div class="courses" multiple-select>
            <select multiple ng-model="selectedCourses">
                <optgroup label="{{subject}}" 
                    ng-repeat="(subject, courses) in catalog">
                    <option value="{{course._id}}" ng-repeat="course in courses">
                        {{course.subject.prefix}} {{course.number}}
                    </option>
                </optgorup>
            </select>
        </div>
    </div>

    </div>

</div>
</script>
<script type="text/ng-template" id="success.html">
<div class="container">
    <h1><b class="blue">Success</b> Thank you for submitting your availability.</h1>
</div>
</script>
<div ng-controller="hoursController">
    <div ng-if="!success">
        <div ng-include="'main.html'"></div>
    </div>
    <div ng-if="!!success">
        <div ng-include src="'success.html'"></div>
    </div>
</div>
</body>
</html>
