<doctype HTML>
<html ng-app="search">
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"0>
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
    <script src="/bower_components/underscore/underscore-min.js"/></script>
    <script src="/bower_components/jquery/jquery.min.js"/></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/javascripts/search.js"></script>
<style>
    body { padding: 0; }
    h1 {
        font-size: 28px;
        line-height: 38px;
    }
    h1 small {
        color: #999;
        font-size: 20px;
    }
    .map {
        overflow: hidden;
    }
    .map-img {
        margin-left: -150px; 
        width: 158%; 
    }
    button {
        float: right;
    }
    h2 {
        line-height: 34px;
    }
</style>
</head>
<body>

<div ng-controller="searchController" class="search">
    <div class="grid">

    <div class="col-2-3">
    <h1>Search
        <small ng-show="!!subject.location.title">
            Location: {{ subject.location.title }}
        </small>
    </h1>
    </div>

    <!-- toggle the map (visible after you select a subject) -->
    <div class="col-1-3">
    <div ng-show="!!subject.location.title">
        <button ng-show="!open" ng-click="showMap=true;open=true">Open Map</button>
        <button ng-show="open" ng-click="showMap=false;open=false">Close Map</button>
    </div>
    </div>

    <!-- view a map for the different locations -->
    <div ng-show="showMap" class="map col-1-1">
    <a target="_blank"
        href="http://tutoring.engineering.asu.edu/wp-content/uploads/2013/08/Map.jpg">
    <img class="map-img"
        src="http://tutoring.engineering.asu.edu/wp-content/uploads/2013/08/Map.jpg"/>
        Click on the Map for a larger View
    </a>
    </div>

    <!-- select a course -->
    <div class="col-1-1">
    <select class="input"
            ng-model="subject"
            ng-options="subject.prefix
                        group by subject.location.title 
                        for subject in subjects"
            ng-change="updateCourses()">
        <!-- default text -->
        <option value="">Please select a course prefix to view available courses
            </option>
    </select>
    </div>

    <div class="col-1-1">
    <select class="input"
            ng-model="course"
            ng-options="course.number + ': ' + course.title
                        for course in selectedCourses"
            ng-change="updateSchedule()">
        <option value="">Please select a course title to view available times</option>
    </select>
    </div>

    
    <!-- view the schedule for a given course -->
    <div ng-show="schedule.length > 0 && !showTutors" class="col-1-1">
    <table class="table search-table">
        <thead><tr>
            <th></th>
            <th class="rot capitalize">Mon</th>
            <th class="rot capitalize">Tue</th>
            <th class="rot capitalize">Wed</th>
            <th class="rot capitalize">Thu</th>
            <th class="rot capitalize">Fri</th>
        </tr></thead>
        <tbody><tr ng-repeat="(j, hours) in schedule[0]">
            <td class="left">{{times[j]}}</td>
            <td ng-repeat="(i, day) in schedule" 
                class="tutors-{{ schedule[i][j].length > 0 }}">
                    <div title="Click to view the tutors."
                         ng-click="listTutors(i,j)">
                         {{ schedule[i][j].length }}</div></td>
        </tbody></tr>
    </table>
    </div>

    <!-- view the tutors available at a specific time -->
    <div class="col-1-1" ng-show="showTutors">
        <div class="grid">

        <div class="col-1-2">
            <h2>{{ day }} at {{ time }}</h2>
        </div>

        <div class="col-1-2">
            <button class="btn-orange" 
                ng-click="showTutors=false">Go Back</button>
        </div>

        <div class="col-1-1">
        <table class="table">
            <tr>
                <th>Tutors</th>
            </tr>
            <tr ng-repeat= "tutor in availableTutors">
                <td>{{tutor.name}}</td>
            </tr>
        </table>
        </div>

        </div>
    </div>

    </div>

</div>

</body>
</html>
