/**
 * This this theme file is directly influenced by the pure css framework.
 *   http://purecss.io/ 
 */

body {
    padding-left: 150px;
}
a {
    color: #265778;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
button {
    display: inline-block;
    background: #0e90d2;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    font-size: 100%;
    padding: .5em 1.5em;
    color: #fff;
}

button:hover {
}

.btn-red {
    background: red;
}
.btn-orange {
    background: orange;
}
.btn-green {
    background: green;
}

#save {
    text-align: center;
    position: absolute;
    left: 30px;
    bottom: 10px;
}

#menu {
    text-align: left;
    margin-left: -150px;
    width: 150px;
    position: fixed;
    top: 0;
    left: 150px;
    bottom: 0;
    z-index: 100;
    background: #191818;
    overflow-y: auto;
}

#menu li {
    font-weight: 100;
}

#menu li:first-child {
    border-bottom: 1px solid #777;
}

#menu li:first-child a {
    color: #fff;
}

#menu li:first-child  {
    background: none;
}

#menu li:first-child a:hover {
    color: #999;
    background: none;
}

#menu a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #999;
    padding: 15px;
    border: none;
}

#menu a:hover {
    background: #555;
}

#footer {
    border-top: 1px solid #eee;
    background: rgb(250, 250, 250);
    position: absolute;
    padding: 20px;
    left: 150px;
    right: 0px;
    text-align: left;
}
