.search {

    font-size: 16px;

    /*background: #ffffff;*/

    max-width: 560px;
    margin: 0px auto;
    padding: 20px;
    /*box-shadow: 0 0 2px black;*/

    .left {
        min-width: 100px;
        text-align: left;
    }
}

.search-table  {


    td:first-child {
        width: 20%;
    }
    
    th, td {
        width: 8%;
    }

    tr:nth-child(even) {
        border-bottom: 1px $grey solid;
    }

    td {
        text-align: center;
    }

    .tutors-true {
        background: $green;
    }

    .tutors-true:hover {
        cursor: pointer;
        background: $blue;
    }
}

.pre {
    display: inline-block;
    width: 12%;
}

.course {
    display: inline-block;
    width: 80%;
}
