table {

    width: 100%;
    margin: 20px 0;
    border-collapse:collapse;

    th {
        color: #999;
        background: $grey;
        padding:10px;
        font-weight: normal;
    }

    td {
        padding:10px;
    }

    td.tutors-true {
        padding:0;
        background: $green;
    }
    td.tutors-true:hover {
        background: $blue;
    }
    td.tutors-false{
        padding:0;
        background: $light;
    }

    tr {
        text-align: center;
        border-bottom: 1px solid $light;
    }

    tr:hover {
        background: $light;
    }
}

