table { 
    border-collapse:collapse; 
    margin: 0 auto;
}

.table {

    width: 100%;

    margin: 0 auto;

    th {
        color: #999;
        background: $grey;
        font-weight: normal;
    }

    th, td {
        padding: 3px 0px;
    }

    tr {
        text-align: center;
        /*border-bottom: 1px solid $light;*/
    }

    tr:hover {
        background: $light;
    }
}
