table {

    width: 100%;
    margin: 20px 0;
    border-collapse:collapse;

    th {
        color: #999;
        background: $grey;
        padding:10px;
        font-weight: normal;
    }

    td {
        padding:10px;
    }

    td.available {
        padding:10px;
        background: $green;
    }
    td.unavailable{
        padding:10px;
        background: $light;
    }

    tr {
        text-align: center;
    }

    tr:hover {
        background: $light;
    }
}

