<style>
    /*
        This CSS is for positioning the scheduling table;
        be careful when making changes. You might be 'accidently'
        do something you don't intend to do.
     */ body {
        text-align: center;
        color: #777;
     }
    .scheduler {
        display: inline-block;
        padding: 20px;
        white-space: nowrap;
    }
    .scheduler  div {
        white-space: normal;
    }
    div[class*=column] {
        display: inline-block;
        margin: 0px 5px;
        line-height: 100%;
    }
    .check-list 
    {
        text-align: center;
        padding:0 10px;
    }
    .major-column {
    }
    .staff-column {
        width: 76px;
    }
    .major-column {
    }
    .partial-sum-column {
        //color: #191818;
    }
    .sum-column {
        color: #0e90d2;
        font-weight: bold;
    }
    div[class*=row] {
    }
    .majors-row {
        height: 48px;
        text-align: center;
    }
    .names-row {
        display: block;
        height: 48px;
        text-align: center;
        vertical-align: text-top;
    }
    .max-hours-row {
        display: block;
        height: 24px;
        text-align: center;
    }
    .current-hours-row {
        text-align: center;
        height: 20px;
    }
    .current-hours-row h3 {
        margin: 0 20px;
        color: rgb(255, 255, 255);
        background: #0e90d2;
        border-radius: 5px;
    }
    .body-row {
        margin-top: 40px;
    }

</style>

<div ng-controller="schedulerController" class="scheduler">

    <div class="time-column" >
        <!-- Header content -->
        <div class="majors-row"></div>
        <div class="names-row"></div>
        <div class="max-hours-row"></div>
        <div class="current-hours-row"></div>
        <div class="body-row" count="days" time-list></div>
    </div>

    <div class="sum-column">
        <!-- Header content -->
        <div class="majors-row"></div>
        <div class="names-row"></div>
        <div class="max-hours-row"></div>
        <div class="current-hours-row"></div>
        <div class="body-row" ng-repeat="day in days">
            <div ng-repeat="i in total[day] track by $index">
                <span>{{ i }}</span>
            </div>
        </div>
    </div>

    <div ng-repeat="(major, staff) in majors" class="major-column">

        <!-- Header content -->
        <div class="majors-row"><h1>{{ major }}</h1></div>

        <!-- Run through the staff members. -->
        <div ng-repeat="person in staff" class="staff-column">

            <div class="name-row"><h2><a href="/staff/{{person._id}}">{{ person.name }}</a></h2></div>
            <div class="max-hours-row"><h3>{{ person.max }}</h3></div>
            <div class="current-hours-row"><h3>{{ .5*person.total }}</h3></div>

            <div class="body-row" ng-repeat="day in days"> 
                <div mask="person.availability[day]" 
                     list="person.schedule[day]" 
                     inc1="total[day]"
                     inc2="sums[major][day]"
                     acc="person.total"
                     check-list>
                </div>
            </div>
        </div> 

        <div ng-repeat"(major, days) in sums" class="partial-sum-column">
            <span class="name"></span>
            <span class="max"></span>
            <span class="max"></span>
            <div class="body-row" ng-repeat="day in days">
                <div ng-repeat="i in sums[major][day] track by $index">
                    <span>{{ i }}</span>
                </div>
            </div>
        </div>

    </div>

    <div class="sum-column">
        <!-- Header content -->
        <div class="majors-row"></div>
        <div class="names-row"></div>
        <div class="max-hours-row"></div>
        <div class="current-hours-row"></div>
        <div class="body-row" ng-repeat="day in days">
            <div ng-repeat="i in total[day] track by $index">
                <span>{{ i }}</span>
            </div>
        </div>
    </div>

    <div class="time-column" >
        <!-- Header content -->
        <div class="majors-row"></div>
        <div class="names-row"></div>
        <div class="max-hours-row"></div>
        <div class="current-hours-row"></div>
        <div class="body-row" count="days" time-list></div>
    </div>

</div>
