<div id="staff" ng-controller="StaffController">
    <table>
        <!--Add staff-->
        <tr>
            <td><input type="text" placeholder="Name" ng-model="name"/></td>
            <td><input type="text" placeholder="Email" ng-model="email"/></td>
            <td><select ng-model="major" placeholder="Major" 
                ng-options="m._id as m.prefix for m in subjects"></select>
            </td>
            <td><select ng-model="location" placeholder="Location" 
                ng-options="l._id as l.title for l in locations"></select>
            </td>
            <td><button ng-click="addContact()">add</button></td>
        </tr> 
    </table>
    <div>
        <table>
            <tr>
                <td><button class ="btn-green" ng-click="allEditable()">Send ALL</button></td>
                <td><button class ="btn-green" ng-click="allEditable()">{{bt1}}</button></td>
            </tr>
        </table>
    </div>

    <div ng-repeat="(location, contacts) in staffByLoc">
        <h2>{{ location }}</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Major</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                   
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="contact in contacts">
                    <td>{{contact.name}}</td>
                    <td>{{contact.email}}</td>
                    <td>{{contact.major.prefix}}</td>
                    <td><button class ="btn-orange" 
                        ng-click="clearContact(contact)">clear</button></td>
                    <td><button class ="btn-red"
                        ng-click="removeContact(contact)">Remove</button></td>
                    <td><button class ="btn-green"
                        ng-click="clearContact(contact)">Email</button></td>
                    <td><input type = "checkbox" ng-checked = "contact.editable" ng-click="update(contact)"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>