<div class="container" ng-controller="StaffController">

    <h1>Manage Staff</h1>

    <table class="table">
        <!--Add staff-->
        <tr>
            <td><input class="input" 
                       type="text"
                       placeholder="Name" 
                       ng-model="newMember.name"/></td>
            <td><input class="input"
                       type="text" 
                       placeholder="Email"
                       ng-model="newMember.email"/></td>
            <td><select class="input"
                        ng-model="newMember.major" 
                        placeholder="Major" 
                        ng-options="m._id as m.prefix for m in subjects"></select></td>
            <td><select class="input"
                        ng-model="newMember.location"
                        placeholder="Location" 
                        ng-options="l._id as l.title for l in locations"></select>
            </td>
            <td><button ng-click="add(newMember)">add</button></td>
        </tr> 
    </table>

    <td><button class ="btn-green" ng-click="toggle()">Toggle Editable</button></td>

    <div ng-repeat="(location, staff) in staffByLoc">
        <h2>{{ location }}</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Editable</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Major</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="member in staff | orderBy:name">
                    <td><input type="checkbox" ng-model="member.editable" 
                         ng-click="update(member, 'editable')"></td>
                    <td><input ng-model="member.name"
                               ng-change="update(member, 'name')"
                               class="seemless" 
                               type="text"/></td>
                    <td><input ng-model="member.email"
                               ng-change="update(member, 'email')"
                               class="seemless" 
                               type="text"/></td>
                    <td>{{member.major.prefix}}</td>
                    <td><button class ="btn-red"
                        ng-click="remove(member)">Remove</button></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
