<style>
    .selected-true {
        text-decoration: underline;
    }
</style>
<table class="table">
    <tr>
        <th style="text-transform: capitalize;"
            class="selected-{{key==order}}"
            ng-repeat="key in keys"
            ng-click="sort(key.field)"><span style="cursor: pointer">{{key.field}}</span></th>
        <th>Actions</th>
    </tr>
    <tr ng-repeat="object in objects | orderBy:order:reverse">
        <td ng-repeat="key in keys">
            <div ng-switch on="key.editable">
                <div ng-switch-when="true">
                    <div ng-switch on="key.ref">
                        <div ng-switch-when="undefined">
                            <input ng-model="object[key.field]"
                                   ng-change="update(object, key.field)"
                                   class="seemless" 
                                   style="width: 100%"
                                   type="text"/>
                        </div>
                        <div ng-switch-default>
                            <select ng-model="object[key.field]"
                                    ng-options="c._id as c[key.ref.field] for (i,c) in key.ref.objects"
                                    ng-change="update(object, key.field)">
                            </select>
                        </div>
                    </div>
                </div>
                <div ng-switch-default>{{object[key.field]}}</div>
            </div>
        </td>
        <td><button class ="btn-red"
            ng-click="remove(object)">Remove</button></td>
    </tr>
    <tr>
        <td ng-repeat="key in keys">
            <div ng-switch on="key.ref">
                <div ng-switch-when="undefined">
                    <input ng-model="newObject[key.field]"
                           class="seemless" 
                           style="width: 100%"
                           type="text"/>
                </div>
                <div ng-switch-default>
                    <select ng-model="newObject[key.field]"
                            ng-options="c._id as c[key.ref.field] for (i,c) in key.ref.objects">
                    </select>
                </div>
        </td>
        <td><button class ="btn"
            ng-click="add(newObject); newObject={}">Add</button></td>
    </tr>
</table>
